page-login {
/*.myclass {
    border-bottom: 0.55px solid #c8c7cc !important;
    padding-right: 8px !important;
}*/
.item-inner {
    border-bottom: 0.55px solid #c8c7cc !important;
    padding-right: 8px !important;
}
.card {
   
    border-radius: 2px;
    box-shadow:none !important;
    font-size: 1.4rem;
    margin: 10px;
    width: calc(100% - 20px);
    background-color:transparent;
}
.alert .alert-wrapper {
    background-color: #000000 !important;
    border-radius: 15px !important;
    box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4) !important;
    max-width: 280px !important;
}
.alert-wrapper {
    display: flex !important;
    flex-direction: column !important;
    max-height: 90% !important;
    min-width: 250px !important;
    opacity: 0 !important;
    z-index: 10 !important;
}.alert .alert-head {
    background-color: red!important;
    padding: 24px 24px 20px!important;
    text-align: left!important;
}.alert-button-group {
    background-color: #242f2f!important;
    flex-wrap: wrap-reverse!important;
    justify-content: flex-end;
    padding: 8px 8px 8px 24px!important;
}
.alert-button-group {
    display: flex;
    flex-direction: row;
}
.alert-head {
    background-color: red!important;
    padding: 24px 24px 20px!important;
    text-align: left!important;
}
ion-card img {
    display: inline-block !important ;
    width: 100%;
    max-width: 100px;
}
.transclass{
    background-color:transparent; 
    color:#768284;
}
p{
    text-align: center;
    color: #768284 !important;

}
}
