page-infoincident {
	.msgicondiv
{
   color: rgb(0, 169, 255);
    margin-left: 229px;
    margin-top: 14px;
}
.msgpopupdiv
{
 background-color: rgb(255, 255, 255);
    border: 4px solid rgb(0, 169, 255);
    box-shadow: 0 0 5px;
    height: 42%;
    left: 9%;
    position: absolute;
  top: 161px;
    width: 82%;
    z-index: 1003;
}
.otherdivbox
{
   background-color:black;
    border: 1px solid;
    border-radius: 22px;
    height: 83px;

   margin-top: 19px;
    width: 30%;
    float:left; 
 margin-left: 13.5%;
}
}
