page-sign-up {
ion-select {
    display: flex;
    max-width: 100%;
    overflow: hidden;
    width: 90%;
    float: left;
}
ion-label {
    display: block;
    flex: 1 1 0;
    font-size: inherit;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 10%;
}
.label {
    margin: 0px 0px 0px 0;
}
.select-text {
  flex: 1 1 0;
  font-size: inherit;
  margin-left: -10px !important;
  min-width: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
}
