page-addtofav {
.item-inner {
    border-bottom: 0.55px solid #c8c7cc !important;
    padding-right: 8px !important;
}
.card {
 position: absolute;
  background-color: black;
  
  top: 36%;
    border-radius: 2px;
    box-shadow:none !important;
    font-size: 1.4rem;
    margin: 10px;
    width: calc(100% - 20px);
    background-color:transparent;
}
}
