// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.tabs-ios .tabbar {
  background: #00a9ff none repeat scroll 0 0;
  border-top: 0.55px solid #b2b2b2;
  height: 8%;
  justify-content: center;
}
.toolbar-title-ios {
  color: #000;
  font-size: 2.1rem;
  font-weight: 600;
  pointer-events: auto;
  text-align: center;
}
.action-sheet-ios .action-sheet-title {
  border-bottom: 0.55px solid #d6d6da;
  border-radius: 0;
  color: #8f8f8f;
  font-size: 2rem;
  font-weight: 400;
  padding: 1.5rem;
  text-align: center;
}