page-mind786 {
	#mindmap{
		height:63%
	}
	.recordbutton
	{
	  background: black none repeat scroll 0 0;
    box-shadow: 1px 2px 0 1px;
    color: cyan;
    opacity: 0.6;
    border-radius: 28px;
	}
.divp {
    margin-left: 9px;
}
.otherdivbox {
  left: 106px;
  position: relative;
  top: 13px;
  width: 92px;
}
}
