page-recordmyroute {
	#mymaprecord {
        height: 60%;
      }

ion-fab[top] {
  position: absolute !important;
  top: 4px !important;
}
 // .scroll-content {
 //            background-color: map-get($colors, light);
 //        }
 
        ion-card-header {
            font-weight: bold;
        }
.otherdivbox{

   
    height: 99px;
    margin-left: 32%;
    margin-top: 17px;
     width: 36%;
}


.otherdivimg
{
border: 0 none;
    margin-left: 20px;
    margin-top: 8px;
    max-width: 61%;

}

.divp
{
  margin-top: 3px;
    text-align: center;
}






}
